# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files (secrets)
.env
.env.*
!.env.example

# Test files
coverage
*.spec.ts
test

# Documentation
*.md
!README.md

# Misc
.husky
.prettierrc
eslint.config.mjs
LICENSE

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
